// H1
h1 {
  margin-bottom: 2rem;
  font-family: $itim;
  color: $white;
}
// Form

// Head
.head {
  margin-bottom: 1rem;
  @include flex;
  flex-flow: row wrap;
  font-family: $itim;
  color: $white;
}
// Left selector
.left {
  @include flex;
  align-items: flex-start;
  flex-direction: column;
  label {
    margin-bottom: 0.5rem;
  }
  #col1 {
    border: none;
    border-radius: 5px;
  }
}
// Right selector
.right {
  @include flex;
  align-items: flex-start;
  flex-direction: column;
  label {
    margin-bottom: 0.5rem;
  }
  #col2 {
    border: none;
    border-radius: 5px;
  }
}
// Input area
.inputArea {
  width: 100vw;
  padding: 2rem;
  @include flex;
  flex-flow: row wrap;
}
#userInput {
  text-align: center;
  width: 80%;
  height: 1.5rem;
  margin: 1rem;
  border: none;
  border-radius: 5px;
}
input[type="submit"],
button[type="reset"] {
  width: 5rem;
  height: 1.3rem;
  margin-bottom: 1rem;
  font-family: $itim;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 5px;
}
// result
.result {
  font-size: 2rem;
  font-weight: bold;
  color: $white;
}
